:root {
  --main-color: #b23b61;
  --text-color: #000;
  --button-bg-color: #fff;
  --button-bg-hover-color: #b2ae3b;
}

.memo-list {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.memo-list__container {
  padding: 0;
}

.memo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.memo:hover {
  color: var(--text-color);
  background-color: var(--main-color);
}

.memo__text {
  margin-left: 2rem;
  text-align: left;
}

.memo__text--done {
  text-decoration-line: line-through;
}

.memo__delete {
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  background-color: var(--button-bg-color);
}

.memo__delete:hover {
  background-color: var(--button-bg-hover-color);
  border-radius: 5px;
}

.memo:hover .memo__delete {
  color: var(--text-color);
}

.add-memo-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-memo-field__input {
  padding: 10px;
}
.add-memo-field__button {
  padding: 0.5rem 0.5rem;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  background-color: var(--button-bg-color);
}

.add-memo-field__button:hover {
  background-color: var(--button-bg-hover-color);
  border-radius: 5px;
}
